audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  z-index:900;
}

body{
  background-size:cover;
  background-color: #2d2b94;
  background-repeat: no-repeat;
  position: relative;
}

html{
  font-family: serif;
}

h1{
  color: white;
}

iframe.chat{
  margin-top: 10%;
  border-radius: 10px;
  width: calc(100% - 10px);
}

.bg-grey {
  color: white;
}

#section1 {
  color: white;
  margin: auto;
}

#section2 {
  color: white;
  margin: auto;
}

#section3 {
  color: white;
  margin: auto;
}

#space {
  margin: auto;
  height: 100px;
}


.mask-icon {
  height: 3.125rem;
  margin-right: 1vh;
  width: 3.125rem;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

input[type]{
  border-radius: 20px;
  width: calc(80%);
  padding: 12px 20px;
  margin: auto;
  border-width: 3px;
  max-width: 100%;
  text-align: center;
  color: black;
  box-sizing: border-box;
}

form{
  border-radius: 40px;
  background-color: #4c67b780;
  border-color: #e7e08885;
  border-width: 2px;
  border-style: dotted;
  backdrop-filter: blur(4px);
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

#formContainer {
  display: block;
  text-align: left;
}

#songlistContainer {
  opacity: 0;
  border-radius: 40px;
  background-color: #4c67b780;
  border-color: #e7e08885;
  border-width: 2px;
  border-style: dotted;
  backdrop-filter: blur(4px);
  transition: opacity 1s ease-out;
}

.vertical-align {
    padding-top: 2vh;
}

.thumbnail {
  width: 23%;
  border-radius: 1vw;
  background-color: #160d1f;
  border-color: #000000;
  border-width: 1px;
  border-style: groove;
  backdrop-filter: blur(4px);
}

.vertical-center {
  text-align: center;
  position: relative;
  top: 15%;
}

.alert-success{
  border-radius: 10px;
}

.github{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  text-align:right;
  font-style: normal;
  margin-right: 10px;
  margin-bottom: 3px;
}

a.link{
  background-color: transparent;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

a.link:hover {
  color: yellow;
  font-family: "Times New Roman", Times, serif;
  background-color: transparent;
  backdrop-filter: blur(4px);
  background-color: #4c67b780;
  border-color: #e7e08885;
  border-width: 1px;
  border-radius: 5px;
  border-style: dotted;
}

a.fa:link{
  text-decoration: none;
}

a.fa:hover{
  text-decoration: none;
  opacity:0.9;
}

a.fa:visited{
  text-decoration: none;
  opacity:0.5;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 2px 2px;
  border-radius: 20px;
}

.fa.active{
  opacity: 1;
  text-decoration: none;
}

.fa-facebook {
  transition-duration: 2s;
  background: #3B5998;
  color: white;
}

.fa-instagram {
    transition-duration: 2s;
    color:white;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.glyphicon-time{
  color: #45b9a4;
}

.glyphicon-flash{
  color: #0072ff;
}

.dropdown-menu{
  text-align: center;
  background-color: #222222c9;
}

#songsContainer{
  z-index: 910;
  border-radius: 10px;
  background-color: #545cb74f;
  border-width: 2px
  border-style: dotted;
  position: relative;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(9px);
  font-family: sans-serif;
}

#notify{
  z-index: 920;
}

.contributors{
  text-align: center;
}
