form{
  text-align: center;
  width: 50%;
  height: 100%;
  color: white;
  display: table;
  background-color: #0c4f6f40;
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

input {
  width: 80%;
  color: black;
  display: table-cell;
  border-style: hidden;
  padding: 14px 20px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

h2{
  margin-bottom: 5px;
}

.note{
  margin-bottom: 4%;
  text-decoration: underline;
}

.username{
  margin-top: 10%;
}

.password{
  margin-top: 7%;
}

.send{
  margin-top: 15%;
  margin-right: 3%;
  margin-left: 3%;
}

button{
  border-style: none;
  background-color: #1d3b99cf;
  border-radius: 4px;
  width: 70%;
  height: 50px;
  margin-bottom: 10%;
  font-family: serif;
}

html{
    height: 100%;
}

body {
  height: 100%;
  font-family: serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
