form{
  text-align: center;
  width: 50%;
  height: 100%;
  color: white;
  display: table;
  background-color: #0c4f6f40;
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

input {
  width: 80%;
  color: black;
  display: table-cell;
  border-style: hidden;
  padding: 14px 20px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

h2{
  margin-bottom: 5px;
}

.note{
  margin-bottom: 4%;
  display: table-cell;
  text-decoration: underline;
  text-align: center;
  font-size: 150%;
  padding: 4% 4%;
}

.username{
  margin-top: 5%;
}

.password{
  margin-top: 7%;
}

.send{
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right: 3%;
  margin-left: 3%;
}

button{
  border-style: none;
  border-radius: 4px;
  width: 70%;
  height: 50px;
  font-family: serif;
}

.general{
  margin-bottom: 10%;
  background-color: #1d3b99cf;
}

html{
    height: 100%;
}

body {
  height: 100%;
  font-family: serif;
  background: linear-gradient(45deg, #02171d 0%,#052831 10%,#0b3a46 20%,#145161 30%,#236273 40%,#2a6e80 50%,#467784 60%,#2a6e80 70%,#236273 80%,#0b3a46 90%,#052831 100%);
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

a:link {
  color: black;
}

a:hover {
  color: white;
}

.alert-danger{
  display:table-cell;
  color: #ffffff;
  background-color: #af0c0cc9;
  border-style: none;
  border-radius: 5px;
}

.center{
  margin: auto;
  text-align: center;
  display: table;
  margin-bottom: 5%;
  width:80%;
}
