form{
  text-align: center;
  width: 50%;
  height: 100%;
  color: white;
  display: table;
  background-color: #0c4f6f40;
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

input {
  width: 80%;
  color: black;
  display: table-cell;
  border-style: hidden;
  padding: 14px 20px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

h2{
  margin-bottom: 5px;
}

.note{
  margin-bottom: 4%;
  text-decoration: underline;
}

.username{
  margin-top: 5%;
}

.password{
  margin-top: 7%;
}

.send{
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right: 3%;
  margin-left: 3%;
}

.loginSocial{
  margin-bottom: 4%;
}

.social{
  margin-top: 4%;
}

.facebook{
  background: #3B5998;
  color: white;
}

.google{
  background: linear-gradient(45deg, #000000 0%,#052027 33%,#0e3f4c, 66%,#1f5665 100%);
}

.instagram{
  color:white;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}


button{
  border-style: none;
  border-radius: 4px;
  width: 70%;
  height: 50px;
  font-family: serif;
}

.general{
  margin-bottom: 10%;
  background-color: #1d3b99cf;
}

html{
    height: 100%;
}

body {
  height: 100%;
  font-family: serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
